<div style="min-width: 500px; height: 0.75em; position: relative">
  <div style="position: absolute; background: linear-gradient(to right, #4ca2cd, #67B26F); width: <%=width %>%; height: 100%; left: <%= (defined? offset) ? offset : 0 %>%"></div>
</div>